/* CSS hiện có */
.banner_game {
  height: 244px;
}

.div_name_game_tong {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.div_thethao_page {
  background: #f0f6ff;
}
@media screen and (max-width: 768px) {
  .div_thethao_page {
    overflow: hidden;
  }
  .div_name_game_tong {
    width: 100% !important;
    margin: 0;
  }
}
